[Desktop Entry]
Name=MicroProxy
Comment=Кэширующий HTTP-прокси
Exec=/usr/local/bin/microproxy
Icon=network-server
Terminal=false
Type=Application
Categories=Network;